<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "5R2T54FSQ8.com.2bvision.itc
ITC"
        version   = "1.0.0">

    <name>ITC</name>

    <description>
        Hello World sample application that responds to the deviceready event.
    </description>

    <author href="http://phonegap.com" email="rizwan.2bv@gmail.com">
        Rizwan
    </author>
  
    <gap:plugin name="com.pushwoosh.plugins.pushwoosh" />

   
</widget>
